body {
  display: flex;
  background: rgb(250,250,250);
  justify-content: center;
  font-family: 'Raleway', sans-serif;

}

.app {
  max-width: 700px;
  min-width: 500px;
  
  
}


/*Main todo item container*/
.todo-list {
  display: flex;
  flex-direction: column;
  margin: 5px 0px;
  background: #fff;
  padding: 15px;
  border-color: rgb(204,204,204);
  border-width: 1px;
  border-style: solid;
}

.btn {
  padding: 10px;
  border-color: rgb(204,204,204);
  border-width: 1px;
  border-style: solid;
  background-color: rgb(255,255,255);
  color: black;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  margin-left: 5px;
  flex-grow: 1;
  outline: none;
}

.bulkBtn{
  margin-left: 0px;
}

.blankBtn {
  background-color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
  color: black;
  outline: none;
}

.text {
    max-width: 300px;
}


.bulkDiv {
  margin-top: 10px;
}


/*Bulk entry text area*/
.textarea{
  width: 100%;
  height: 200px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  resize: vertical;
  padding: 10px;
}

/*Single entry input*/
.input {
  font-size: 16px;
  padding: 10px;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

.blkModeBtn{
  margin-left: -10px;
}


.blkMode {
  margin-top: -10px;
  align-self: flex-end;
}

.count {
  font-size: 12px;
  align-self: flex-end;
}

.btnrow{
  justify-content: space-between;
}


/*Individual item*/
.todo {
  background: #fff;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.25);
  padding: 8px 0px;
  font-size: 14px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.inputDiv{
  padding-right:4px;
  padding-left:1px;
  margin-right:20px;
}



.danger {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  font-family: 'Raleway', sans-serif;
  
}

.empty {
  color: #808080;
  font-size: 14px;
}




@media only screen and (max-width: 660px) {
  body {
    display: flex;
    background: #fff;
    justify-content: center;
    margin-top: 0px;
  }

  .bulkBtn{
    margin-left: 10px;
  }
  

  .todo-list {
    border-width: 0px;
  }
  

  .todo {
    background: #fff;
    font-size: 14px;
    margin-bottom: 6px;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  

  .app{
    min-width: 95vw;
    width: 100vw;
    margin-top: 10px;
    align-items: center;
  }

  .text {
      max-width: 165px;
  }
  
  .input {
    margin-top: -5px;
  }
  
  .count {
    margin-top: -15px;
  }
}